<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="static\css\bootstrap.css" type="text/css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-defult">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Website name</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="./login.html">Login</a>
                    </li>

                    <li>
                        <a href="#">page 2</a>
                    </li>

                    <li>
                        <a href="#">page 3</a>
                    </li>

                </ul>
            </div>

        </nav>

        <h1>Login</h1>
    </div>
    
    <script src="static\js\bootstrap.js"></script>
</body>
</html>